*__pycache__/
*.egg-info/
build/
**.so
*.hip
*_hip.*
dataset/
checkpoints/
testCuda.py
TimeLLM/Meta-Llama-3.1-8B
*nohup*
**/results/
**/checkpoints/
**/wandb/
**/dataset/
!TimeLLM/dataset/
!TimeLLM/dataset/*
TimeLLM/checkpoints.zip
TimeLLM/dataset/**
!TimeLLM/dataset/CarbonCast/
!TimeLLM/dataset/CarbonCast/**
!TimeLLM/dataset/synthetic_data/**
!TimeLLM/dataset/synthetic_data/
!gift_eval/git_repo/results/
gift_eval/series/
Mamba4Cast/
Time-Series-Library/
uni2ts/
Mamba4Cast/
moment/
mamba_ssm/
**/archive_results/
customLLMsForTimeSeries/

# Ignore Arrow columnar files
*.arrow
