*__pycache__/
*.egg-info/
build/
**.so
*.hip
*_hip.*
dataset/
checkpoints/
testCuda.py
TimeLLM/Meta-Llama-3.1-8B
*nohup*
**/results/
**/checkpoints/
**/wandb/
**/dataset/
TimeLLM/checkpoints.zip
!TimeLLM/dataset/CarbonCast/
!TimeLLM/dataset/CarbonCast/**
Mamba4Cast/
Time-Series-Library/
uni2ts/
Mamba4Cast/
moment/
mamba_ssm/
**/archive_results/
customLLMsForTimeSeries/
